BASEURL="https://<base_url>" # Space and Time Base API Endpoint before v1/v2
USERID="" # UserID required for authentication and authorization
JOINCODE="" # Space and Time Join Code which can be got from the SxT release team
SCHEME="ed25519"  # The key scheme or algorithm required for key generation
PREFIX="" # Optional Prefix Parameter for signature generation

